version: '3.8'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ads
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=ads
      - PYTHONUNBUFFERED=1

volumes:
  postgres_data: